@import 'tailwindcss';
@plugin 'tailwindcss-plugin-zag';

@theme {
  --font-sans: 'Lato', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --animate-backdrop-in: backdrop-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
  --animate-backdrop-out: backdrop-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
  --animate-dialog-in: dialog-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
  --animate-dialog-out: dialog-out 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
  --animate-drawer-in: drawer-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
  --animate-drawer-out: drawer-out 200ms cubic-bezier(0.3, 0, 0.8, 0.15);

  @keyframes backdrop-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes backdrop-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes dialog-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes dialog-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }

  @keyframes drawer-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes drawer-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  button {
    cursor: pointer;
  }
}
